h4.tag-tip
  span 👰
  | &nbsp; Tag your Instagram photos with 
  b #mickleberry 
  | and they'll show up here. &nbsp;
  span 👍

.grid
  .grid-sizer
  - @photos.each do |photo|
    - if photo.instagram_id
      = link_to image_tag(photo.image.url(:medium)), photo.instagram_link, class: "grid-item"
    - else
      = link_to image_tag(photo.image.url(:medium)), asset_url(photo.image.url(:original)), class: "grid-item"

= paginate @photos