.venue-map {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 65px;
}

.venue-popup {
  p {
    margin-bottom: 10px;
  }
  
  img {
    width: 300px;
    height: 200px;
    border-radius: 4px;
    margin-top: 10px;
  }
}
