<!DOCTYPE html>
<html>
  <head>
    <title>#mickleberry</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Gloria+Hallelujah' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  </head>
  <body>
    <div class="photo">
      <%= image_tag "monkey.jpg", alt: "the best monkey" %>
      <h3>#mickleberry - 5/21/16</h3>
    </div>
  </body>
</html>
